<h1> Create New <%= "#{@shuttle.name} Astronaut" %></h1>

    <%= form_with url: "/shuttles/#{@shuttle.id}/astronauts", method: :post, local: true do |form| %>
        <%= form.label :name %>
        <%= form.text_field :name %> <br>
        <%= form.label :age %>
        <%= form.text_field :age %> <br>
        <%= form.radio_button :space_veteran, 'true' %> true
        <%= form.radio_button :space_veteran, 'false' %> false <br>
        <%= form.submit "Create #{@shuttle.name} Astronaut" %>
<% end %>