<h1><%= "Edit #{@shuttle.name}" %></h1>

    <%= form_with url: "/shuttles/#{@shuttle.id}", method: :patch, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name%> <br>
    <%= form.label :in_service %>
    <%= form.radio_button :in_service, 'true' %> true
    <%= form.radio_button :in_service, 'false' %> false <br>
    <%= form.label :year_built %>
    <%= form.text_field :year_built %> <br>
    <%= form.submit "Update Shuttle" %>
 <% end %>
